.page {
    margin: 0;
}
.header {
    background-color:#213B7E ;
    display: flex;
    box-sizing: border-box;  
    width: 1300px;
    margin: 0 auto;
    padding: 0 15px;
    min-height: 80px;
    justify-content:space-between ;
    align-items: center;
}
.info__image {
    width: 47px;
    height: 47px;
}
.info__menu {
    display: flex;
    align-self: center;
    padding: 0;
    margin: 0%;
    list-style:none;
}
.menu__link {
 font-family: "Roboto";
 align-items: center;
 display: flex;
 padding: 28px  18px;
 background-color: #213b7e;
 color: #FFFFFF;
 font-weight: 400;
 font-size: 20px;
 line-height: 23px;
 cursor:pointer;
}
.menu__link:hover {
    background-color: #FFFFFF;
    color: #213B7E;
    text-decoration-line: none ;
}
 .login__button {
 display:flex;
 justify-content:center;
 align-items:center;
 font-size: 18px;
 font-weight: 400;
 color: #FFFFFF;
 text-decoration: none;
 background:  #EA5D21;
 width: 153px;
 min-height: 50px;
 font-family: 'Roboto';
}
.content {
    display: flex;
    align-items: center;
    width: 911px;
    margin: 33px auto 0 auto;
    flex-grow: 1;
    font-family: "Roboto";
}
.info__text{
 margin: 0 0 25px 0;
 font-family: 'Roboto';
 font-style: normal;
 font-weight: 700;
 font-size: 30px;
 line-height: 35px;
 display: flex;
 align-items: center;
}
.class__photo {
 width: 523px;
 height: 316px;
}
.text {
 display:flex;
 max-width: 634px;
 font-family:"Roboto";
 font-style: normal;
 font-weight: 400;
 font-size: 25px;
 line-height:29px;
 align-items: center;
 margin: 15px 0 0 0;
}
.text {
    display: flex;
    max-width: 634px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 29px;
    align-items: center;
    margin: 15px 0 0 0;
}
.content__text {
 position: absolute;
 width: 185px;
 height: 90px;
 left: 1025px;
 margin: auto auto auto auto;
 top: 542px;
 font-family:"Lobster";
 font-style: normal;
 font-weight: 400;
 font-size: 35px;
 line-height: 45px;
 color: #646464;
}
.footer {
    display: flex;
    box-sizing: border-box;
    width: 1300px;
    min-height: 60px;
    margin: 187px auto auto;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    background-color: #213B7E;
    color: #FFFFFF80;
    height: 60px;
}
.footer__text {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    display: flex;
    align-items: center;
    color: rgba(255, 255, 255, 0.5);
    font-family: 'Roboto';
    margin-right: 5px;
}
.font_bold {
  font-weight: 600;
}
p.footer__text.rs2 {
    text-decoration: underline;
}
h1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0px 224px 0 0;
}
h2 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 0px 275px 0 0;
}
p.text1 {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    margin: 12px 265px 0px 0px;
}
p.txt2 {
    margin: 0px 300px 0px 0px;
}
 
/*popup*/

.login__popup {
    display: none;
    position: absolute;
    bottom: 0;
    left: 50%;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 2;
   transform: translate(-50%,-40%);
    box-sizing: border-box;
    max-width: 500px;
    min-height: 418px;
    padding:  26px 28 px 50px;
    background: #FFFFFF;
    border: 1px solid #213B7E;
    background-color: #FFFFFF;
}
.login__heading {
 margin: 15px 5px 25px 5px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 35px;
  color: #000;
  text-align: center;
}
.popup__close {
 position: absolute;
 top: -30px;
 right: -30px;
 cursor: pointer;
 transition: .3s linear;
}

.popup__close:hover {
 opacity: .7;
}
.login__form { 
  margin: 0 35px;
 width: calc(100% -30px) ;
 display: flex;
 align-items: center;
 flex-direction: column;
}
.form__input { 
    background-color: #FFFFFF;
    font-size: 24px;
    line-height: 28px;
    color: #808080;
    padding: 10px;
    width: 100%;
    max-width: 500px;
    min-height: 44px;
    margin-bottom: 56px;
    border: 1px solid #808080;
}
.popup__button {
    display: flex;
    justify-content:center ;
    align-items: center;
    width: 152px;
    min-height: 50px;
    text-decoration: none;
    color: #FFFFFF;
    background-color: #EA6113;
    border: none;
    font-size: 18px;
} 
.active__link {
    color: #213B7E;
    background-color: #FFFFFF;
    text-decoration: none;
}
.show__popup {
display: block;
}

/*Contacts*/
.main {
    font-family: 'Roboto';
}

.main__heading { 
 position: absolute;
 left: 286px;
 top: 113px;
 font-style: normal;
 font-weight: 700;
 font-size: 30px;
 line-height: 35px;
 display: flex;
 align-items: center;
}
.about__photo {
    position: absolute;
    left: 108px;
    top: 173px;
}

.main__text { 
 position: absolute;
 width: 185px;
 height: 29px;
 left: 288px;
 top: 558px;
 font-style: normal;
 font-weight: 400;
 font-size: 25px;
 line-height: 29px;
 display: flex;
 align-items: center;
 color: #000000;
}
 
.text__info {
 position: absolute;
 width: 439px;
 left: 288px;
 top: 597px;
 font-weight: 400;
 font-size: 18px;
 line-height: 46px;
 color: #000000;
}
 
.info__footer {
    display: flex;
    box-sizing: border-box;
    width: 1300px;
    min-height: 60px;
    margin: 940px auto auto;
    padding: 0 16px;
    justify-content: center;
    align-items: center;
    background-color: #213B7E;
    color: #FFFFFF80;
    height: 60px;
}

.info__video {
    position: absolute;
    width: 820px;
    height: 549.33px;
    left: 286px;
    top: 218px;
}
.text__about {
 position: absolute;
 width: 288px;
 height: 29px;
 left: 286px;
 top: 156px;
 font-style: normal;
 font-weight: 400;
 font-size: 25px;
 line-height: 29px;
 display: flex;
 align-items: center;
 color: #000000;
}

/*Students*/

.students {
 margin:100px auto  430px auto;
 max-width: 1200px;
 display: flex;
 flex-direction: row;
 justify-content: space-around;
}
.student {
 padding-left:  50px;
 
}
.student__name {
    display: block;
    text-align: center;
}
.student__photo {
 display: flex;
 gap: 20px;
 overflow: hidden;
}
.main___heading { 
    position: absolute;
    left: 186px;
    top: 113px;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    display: flex;
    align-items: center;
   }